.App {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.App button {
  padding: 8px 16px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  background: green;
  color: white;
  font: inherit;
}

.App button:hover {
  background: lightgreen;
  color: black;
}

.App button.Red {
  background: red;
}

.App button.Red:hover {
  background: salmon;
  color: black; 
}

